@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

html {
  /* background: #cc0000; */
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

body {
  max-width: 600px;
  margin: auto;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
